body {
  background-color: rgba(225, 201, 244, 0.6);
}

main .todoContainer {
  background-color: rgb(255, 255, 255);
  max-width: 75%;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(223, 215, 252);
  border-radius: 5px;
  box-shadow: 5px 8px 8px rgba(1, 1, 1, 0.2);

  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 16px;
  color: rgb(30, 10, 50);
}
h1 {
  font-family: "Shadows Into Light", serif;
  font-size: 48px;
  margin-bottom: 0;
}
h3 {
  font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin-top: 0;
}
button {
  font-family: "Quicksand", serif;
  background-color: transparent;
  border: 1px solid rgba(174, 87, 201, 0.7);
  transition: all 200ms ease;
}
button:hover {
  background-color: rgba(199, 146, 244);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(174, 87, 201, 0.9);
}
ul {
  list-style: none;
  padding: 0;
}
.footerContainer {
  background-color: rgb(255, 255, 255);
  max-width: 75%;
  display: block;
  margin: 0 auto;
  padding: 6px 0;
  text-align: center;
  border: 1px solid rgb(223, 215, 252);
  border-radius: 5px;
  box-shadow: 5px 8px 8px rgba(1, 1, 1, 0.2);

  font-family: "Quicksand", serif;
  font-weight: normal;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: rgba(174, 87, 201, 0.9);
}
