body {
  background-color: rgba(227, 173, 244, 0.6);
  background-image: url("images/wildflower.png");
  background-repeat: repeat-x;
  background-size: 500px 300px;
  background-position-y: bottom;
  height: 100vh;
}

main .todoContainer {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 70%;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(223, 215, 252);
  border-radius: 5px;
  box-shadow: 5px 8px 8px rgba(1, 1, 1, 0.2);

  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 16px;
  color: rgb(30, 10, 50);
}
h1 {
  font-family: "Shadows Into Light", serif;
  font-size: 48px;
  margin-bottom: 0;
}
h3 {
  font-family: "Shadows Into Light", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin: 0;
}
button {
  font-family: "Quicksand", serif;
  background-color: transparent;
  border: 1px solid rgba(174, 87, 201, 0.7);
  border-radius: 4px;
  transition: all 200ms ease;
  margin-left: 15px;
}
button:hover {
  background-color: rgba(190, 137, 237, 0.9);
  color: rgb(255, 255, 255);
  border: 1px solid rgba(174, 87, 201, 0.9);
}
button.sorter {
  margin: 10px 0;
}
button.addButton {
  margin-left: 2px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0 auto 15px;
  width: 50vw;
}
.footerContainer {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 70%;
  display: block;
  margin: 0 auto;
  padding: 6px 0;
  text-align: center;
  border: 1px solid rgb(223, 215, 252);
  border-radius: 5px;
  box-shadow: 5px 8px 8px rgba(1, 1, 1, 0.2);

  font-family: "Quicksand", serif;
  font-weight: normal;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: rgba(174, 87, 201, 0.9);
}

/* Dark mode colors */
.dark {
  background-color: rgb(121, 45, 129, 0.8);
}
